.chat-messages-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}
.chat-messages-container::-webkit-scrollbar {
  width: 8px;
}
.chat-messages-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.chat-messages-container::-webkit-scrollbar-track {
  background-color: transparent;
}
.loading-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.loading-dots {
  display: flex;
  gap: 5px;
}
.loading-dots div {
  width: 10px;
  height: 10px;
  background-color: rgb(25, 135, 84);
  border-radius: 50%;
  animation: blink 1.4s infinite;
}
.loading-dots div:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-dots div:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes blink {
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {   
    opacity: 1;
  }
}
.chat-end-ref {
  float: left;
  clear: both;
}
.chat-messages-container .chat-end-ref {
  float: none;
  clear: both;
}