.initial-message-robot {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-bottom: 20px;
  padding: 0 10px;
}
.initial-message-text {
  max-width: 70%;
  padding: 15px 20px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 1.4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f1f0f0;
  color: black;
  border-bottom-left-radius: 0;
}
.initial-message-profile {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.initial-message-timestamp {
  font-size: 12px;
  color: #a8a8a8;
  text-align: left;
  margin-top: 5px;
}