.chatbot {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  height: 95vh;
  display: flex;
  flex-direction: column;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.chatbot-header {
  padding: 15px;
  background-color: rgb(25, 135, 84);
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.chatbot-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}
.chatbot-footer {
  border-top: 2px solid #ddd;
  padding: 10px;
  background-color: #f7f7f7;
}
.chatbot .chatbot-menu-button {
  position: absolute;
  top: 15px;
  left: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.chatbot .chatbot-menu-button:focus {
  outline: none;
}
.chatbot .chatbot-menu-button:hover {
  color: #ccc;
}
.chatbot .chatbot-menu-button:active {
  color: #999;
}
.chatbot .chatbot-menu-button:disabled {
  color: #eee;
  cursor: not-allowed;
}